@import "tailwindcss";

@theme {
    --color-brand-teal: #00668F;
    --color-brand-teal-light: #0082b5;
    --color-brand-teal-dark: #004d6b;
    
    --color-brand-green: #2E7D32;
    --color-brand-green-light: #388e3c;
    --color-brand-green-dark: #1b5e20;
}
